body {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background-image: url(../css/Medical.png);
    background-size: cover;
}

input[type=text],
input[type=password] {
    text-align: center;
    width: 80%;
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 0.5px solid #ccc;
    box-sizing: border-box;
}

.titles{
    width:100%;
    background-color: rgba(0,0,0,0.5);
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}
button {
    background-color: #3399ff;
    color: white;
    align-self: center;
    padding: 14px 20px;
    margin: 8px 0;
    margin-top: 3%;
    border: none;
    cursor: pointer;
    width: 25%;
}


table, th, td {
    border-bottom: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
}

.main-shift {
    text-align: center;
    width: 80%;
    height: auto;
    margin: auto;
}

button:hover {
    opacity: 0.8;
}

.replaceshift-container {
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    margin: auto;
    margin-top: 5%;
    width: 35%;
    height: auto;
    border-radius: 5px 5px 5px 5px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}


.shift-container {
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    margin: auto;
    margin-top: 5%;
    width: 35%;
    height: auto;
    border-radius: 5px 5px 5px 5px;
}

.shift {
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    margin: 0 auto;
    margin-top: 5%;
    width: 100%;
    height: auto;
    border-radius: 5px 5px 5px 5px;
}